# .git 디렉터리: 버전 관리 파일은 불필요
.git/

# Python 바이트 코드 파일: 이미 빌드된 파일이므로 제외
__pycache__/
*.pyc

# 테스트 파일 및 폴더
tests/

# 환경 설정 파일(비밀 키나 중요한 데이터 포함될 수 있음)
.env

# 임시 파일이나 개발용 파일
*.log
*.bak
*.swp
*.idea/
*.vscode/